body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-image: url(images/wallpaper.png);
}

.header{
    background-color: #1F2937;
}

.header, .content, .footer {
    padding:32px 125px
}

.logo-and-links{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.logo{
    max-width: 300px;
}

.header-links{
    display: flex;
    list-style: none;
    gap: 16px;
}

.header-information{
    display:flex;
    justify-content: space-between;
}

.header-image{
    border: black solid;
    width: 700px;
}

.hero-text{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.content{
    display: flex;
    flex-direction: column;

}

.leaders-and-infos{
    display: flex;
}

.leader-info{
    display: flex;
    flex-direction: column;
}